* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #434343;
    font-family: 'Manrope', sans-serif;
}

.title {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.title-text {
    width: 50%;
    text-align: center;
    padding-top: 10%;
}